<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为 UserMapper 接口方法提供sql语句配置 -->
<mapper namespace="com.example.fei.mapper.UserMapper">
    <resultMap type="com.example.fei.domain.User" id="UserResult">
        <!-- <result property="代码中字段" column="数据库字段"/> -->
        <id     property="id"    column="id"  />
        <result property="username"    column="username"  />
        <result property="password"    column="password"  />
        <result property="email"       column="email"     />
        <result property="mobile"      column="mobile"     />
    </resultMap>

    <sql id="sqlSelectUser">
        SELECT * FROM user
    </sql>

    <!-- 查询一条数据 -->
    <select id="selectUser" resultMap="UserResult" parameterType="long">
        <include refid="sqlSelectUser"/>
        WHERE id = 1
    </select>

    <select id="selectByUsername" resultMap="UserResult">
        <include refid="sqlSelectUser"/>
        WHERE username=#{username} AND password=#{password}
    </select>

</mapper>


